# Bank Marketing ML

## Introduction

* **Client:** age, job, marital, education, default status, housing, and loan
* **Campaign:** last contact type, last contact month of year, last contact day of the week, and last contact duration
* **Others:** number of contacts performed in current campaign, number of days that passed by after the client was last contacted, number of contacts performed before this campaign, outcome of previous campaign, and whether a client has subscribed a term deposit

## Data Import

In [4]:
zipFile <- "bank.zip"

fileURL <- "https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip"
  download.file(fileURL, zipFile, method="curl")

unzip(zipFile)

In [9]:
bank_dat <- read.csv("bank-full.csv",sep = ";")

In [10]:
head(bank_dat)

  age          job marital education default balance housing loan contact day
1  58   management married  tertiary      no    2143     yes   no unknown   5
2  44   technician  single secondary      no      29     yes   no unknown   5
3  33 entrepreneur married secondary      no       2     yes  yes unknown   5
4  47  blue-collar married   unknown      no    1506     yes   no unknown   5
5  33      unknown  single   unknown      no       1      no   no unknown   5
6  35   management married  tertiary      no     231     yes   no unknown   5
  month duration campaign pdays previous poutcome  y
1   may      261        1    -1        0  unknown no
2   may      151        1    -1        0  unknown no
3   may       76        1    -1        0  unknown no
4   may       92        1    -1        0  unknown no
5   may      198        1    -1        0  unknown no
6   may      139        1    -1        0  unknown no

In [12]:
summary(bank_dat)

      age                 job           marital          education
 Min.   :18.00   blue-collar:9732   divorced: 5207   primary  : 6851
 1st Qu.:33.00   management :9458   married :27214   secondary:23202
 Median :39.00   technician :7597   single  :12790   tertiary :13301
 Mean   :40.94   admin.     :5171                    unknown  : 1857
 3rd Qu.:48.00   services   :4154
 Max.   :95.00   retired    :2264
                 (Other)    :6835
 default        balance       housing      loan            contact
 no :44396   Min.   : -8019   no :20081   no :37967   cellular :29285
 yes:  815   1st Qu.:    72   yes:25130   yes: 7244   telephone: 2906
             Median :   448                           unknown  :13020
             Mean   :  1362
             3rd Qu.:  1428
             Max.   :102127

      day            month          duration         campaign
 Min.   : 1.00   may    :13766   Min.   :   0.0   Min.   : 1.000
 1st Qu.: 8.00   jul    : 6895   1st Qu.: 103.0   1st Qu.: 1.000
 Median :16.00   aug    : 6247   Median : 180.0   Median : 2.000
 Mean   :15.81   jun    : 5341   Mean   : 258.2   Mean   : 2.764
 3rd Qu.:21.00   nov    : 3970   3rd Qu.: 319.0   3rd Qu.: 3.000
 Max.   :31.00   apr    : 2932   Max.   :4918.0   Max.   :63.000
                 (Other): 6060
     pdays          previous           poutcome       y
 Min.   : -1.0   Min.   :  0.0000   failure: 4901   no :39922
 1st Qu.: -1.0   1st Qu.:  0.0000   other  : 1840   yes: 5289
 Median : -1.0   Median :  0.0000   success: 1511
 Mean   : 40.2   Mean   :  0.5803   unknown:36959
 3rd Qu.: -1.0   3rd Qu.:  0.0000
 Max.   :871.0   Max.   :275.0000

In [13]:
dim(bank_dat)

[1] 45211    17

## Data Exploration