https://analyzecore.com/2014/10/31/sequence-carts-analysis-sankey/

We studied how we can visualize the structure of a shopping cart in the previous post. Although you can find plenty of materials on how to analyze combinations of products in the shopping cart (e.g. via association rules), there is a lack of sources on how to analyze the sequences of shopping carts.

This post is an attempt to make up for this lack of sources.

The sequential analysis of the shopping carts can bring you useful knowledge of patterns of customer’s behavior. 

You can discover dependencies between product sets. 

* For example, the client bought product A and B in the first cart and product A in both the second and third cart. 
* Probably, he wasn’t satisfied with product B (its price, quality, etc.) or you can discover that after “A, B, C” carts clients purchased product D very often. It can give you the opportunity to recommend this product to clients who didn’t purchase D after an “A, B, C” cart.

As I’m a big fan of visualization I will recommend an interesting chart for this analysis: Sankey diagram. So, let’s start!

After we load the necessary libraries with the following code,

In [3]:
# loading libraries
# install.packages("googleVis")
library(googleVis)
library(dplyr)
library(reshape2)

we will simulate an example of the dataset. 

Suppose we sell 3 products (or product categories), A, B and C, and each product can be sold with a different probability. Also, a client can purchase any combinations of products. Let’s do this with the following code:

In [4]:
# creating an example of orders
set.seed(15)
df <- data.frame(orderId=c(1:1000),
 clientId=sample(c(1:300), 1000, replace=TRUE),
 prod1=sample(c('NULL','a'), 1000, replace=TRUE, prob=c(0.15, 0.5)),
 prod2=sample(c('NULL','b'), 1000, replace=TRUE, prob=c(0.15, 0.3)),
 prod3=sample(c('NULL','c'), 1000, replace=TRUE, prob=c(0.15, 0.2)))

In [6]:
head(df)

  orderId clientId prod1 prod2 prod3
1       1      181     a     b  NULL
2       2       59  NULL     b  NULL
3       3      290     a  NULL     c
4       4      196     a     b     c
5       5      111     a     b     c
6       6      297     a     b     c

In [7]:
# combining products
df$cart <- paste(df$prod1, df$prod2, df$prod3, sep=';')
df$cart <- gsub('NULL;|;NULL', '', df$cart)
df <- df[df$cart!='NULL', ]
 
head(df)

  orderId clientId prod1 prod2 prod3  cart
1       1      181     a     b  NULL   a;b
2       2       59  NULL     b  NULL     b
3       3      290     a  NULL     c   a;c
4       4      196     a     b     c a;b;c
5       5      111     a     b     c a;b;c
6       6      297     a     b     c a;b;c

In [8]:
df <- df %>%
 select(orderId, clientId, cart) %>%
 arrange(clientId, orderId, cart)

We generated 1000 orders from 300 clients and our dataset looks like this:

In [9]:
head(df)

  orderId clientId  cart
1     451        1 a;b;c
2     217        2   a;b
3     261        2   a;b
4     577        2   a;b
5     902        2     c
6     199        3 a;b;c

After this, we need to arrange orders from each client with the following code. 

**Note: we assume that the order/cart serial numbers were assigned based on the purchase date.** 

In other cases, you can use purchase date for identifying the sequence.

In [10]:
orders <- df %>%
 group_by(clientId) %>%
 mutate(n.ord = paste('ord', c(1:n()), sep='')) %>%
 ungroup()

The head of the data frame we obtain is:

In [11]:
head(orders)

  orderId clientId  cart n.ord
1     451        1 a;b;c  ord1
2     217        2   a;b  ord1
3     261        2   a;b  ord2
4     577        2   a;b  ord3
5     902        2     c  ord4
6     199        3 a;b;c  ord1

The next step is to create a matrix with sequences with the following code:

In [12]:
orders <- dcast(orders, clientId ~ n.ord, 
            value.var='cart', fun.aggregate = NULL)

head(orders)

  clientId  ord1 ord10 ord11 ord2  ord3 ord4 ord5 ord6 ord7 ord8 ord9
1        1 a;b;c  <NA>  <NA> <NA>  <NA> <NA> <NA> <NA> <NA> <NA> <NA>
2        2   a;b  <NA>  <NA>  a;b   a;b    c <NA> <NA> <NA> <NA> <NA>
3        3 a;b;c  <NA>  <NA>  a;b     a <NA> <NA> <NA> <NA> <NA> <NA>
4        4   a;c  <NA>  <NA>    a   a;c  b;c  a;b <NA> <NA> <NA> <NA>
5        5 a;b;c  <NA>  <NA>  a;c a;b;c    a <NA> <NA> <NA> <NA> <NA>
6        6     a  <NA>  <NA>  b;c     b <NA> <NA> <NA> <NA> <NA> <NA>

Therefore, we just need to choose a number of carts/orders in the sequence we want to analyze. I will choose 5 carts with the following code:

In [14]:
orders <- orders %>%
 select(ord1, ord2, ord3, ord4, ord5)

Also, if you have a lot of product combinations instead of 7 as in my example, you can limit them with the filter() function (e.g. filter(ord1==’a;b;c’)) for clarity.

And finally we will create a data set for plotting with the following code:

In [15]:
orders.plot <- data.frame()
 
for (i in 2:ncol(orders)) {
 
 ord.cache <- orders %>%
 group_by(orders[ , i-1], orders[ , i]) %>%
 summarise(n=n()) %>%
 ungroup()
 
 colnames(ord.cache)[1:2] <- c('from', 'to')
 
 # adding tags to carts
 ord.cache$from <- paste(ord.cache$from, '(', i-1, ')', sep='')
 ord.cache$to <- paste(ord.cache$to, '(', i, ')', sep='')
 
 orders.plot <- rbind(orders.plot, ord.cache)
 
}

Note: I added tags to combinations with their number in the sequence because it is impossible to create a Sankey diagram from A product to A product for example. So, I transformed the sequence A –> A to A(1) –> A(2).

Finally, we will get a great type of visualization with the following code:

In [28]:
# op <- options(gvis.plot.tag='chart')

In [27]:
# plot(gvisSankey(
#     orders.plot, 
#     from='from', 
#     to='to', 
#     weight='n',
#  options=op
# #     list(
# #      height=900, 
# #      width=1800, 
# #      sankey="{link:{color:{fill:'lightblue'}}}"))
#     ))

<!-- Sankey generated in R 3.3.2 by googleVis 0.6.2 package -->
<!-- Sun Dec 10 21:33:45 2017 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataSankeyID40044388e420 () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"a(1)",
"a(2)",
3
],
[
"a(1)",
"a;b(2)",
6
],
[
"a(1)",
"a;b;c(2)",
10
],
[
"a(1)",
"a;c(2)",
4
],
[
"a(1)",
"b(2)",
2
],
[
"a(1)",
"b;c(2)",
4
],
[
"a(1)",
"c(2)",
1
],
[
"a(1)",
"NA(2)",
2
],
[
"a;b(1)",
"a(2)",
4
],
[
"a;b(1)",
"a;b(2)",
14
],
[
"a;b(1)",
"a;b;c(2)",
7
],
[
"a;b(1)",
"a;c(2)",
3
],
[
"a;b(1)",
"b(2)",
4
],
[
"a;b(1)",
"b;c(2)",
4
],
[
"a;b(1)",
"c(2)",
2
],
[
"a;b(1)",
"NA(2)",
8
],
[
"a;b;c(1)",
"a(2)",
7
],
[
"a;b;c(1)",
"a;b(2)",
21
],
[
"a;b;c(1)",
"a;b;c(2)",
18
],
[
"a;b;c(1)",
"a;c(2)",
15
],
[
"a;b;c(1)",
"b(2)",
5
],
[
"a;b;c(1)",
"b;c(2)",
7
],
[
"a;b;c(1)",
"c(2)",
7
],
[
"a;b;c(1)",
"NA(2)",
12
],
[
"a;c(1)",
"a(2)",
8
],
[
"a;c(1)",
"a;b(2)",
11
],
[
"a;c(1)",
"a;b;c(2)",
9
],
[
"a;c(1)",
"a;c(2)",
6
],
[
"a;c(1)",
"b(2)",
3
],
[
"a;c(1)",
"b;c(2)",
5
],
[
"a;c(1)",
"c(2)",
2
],
[
"a;c(1)",
"NA(2)",
6
],
[
"b(1)",
"a(2)",
2
],
[
"b(1)",
"a;b(2)",
3
],
[
"b(1)",
"a;b;c(2)",
3
],
[
"b(1)",
"a;c(2)",
3
],
[
"b(1)",
"b(2)",
2
],
[
"b(1)",
"b;c(2)",
1
],
[
"b(1)",
"c(2)",
1
],
[
"b(1)",
"NA(2)",
3
],
[
"b;c(1)",
"a(2)",
2
],
[
"b;c(1)",
"a;b(2)",
6
],
[
"b;c(1)",
"a;b;c(2)",
10
],
[
"b;c(1)",
"a;c(2)",
2
],
[
"b;c(1)",
"b(2)",
1
],
[
"b;c(1)",
"b;c(2)",
2
],
[
"b;c(1)",
"c(2)",
1
],
[
"b;c(1)",
"NA(2)",
7
],
[
"c(1)",
"a(2)",
2
],
[
"c(1)",
"a;b(2)",
3
],
[
"c(1)",
"a;b;c(2)",
7
],
[
"c(1)",
"a;c(2)",
4
],
[
"c(1)",
"NA(2)",
4
],
[
"a(2)",
"a(3)",
6
],
[
"a(2)",
"a;b(3)",
2
],
[
"a(2)",
"a;b;c(3)",
11
],
[
"a(2)",
"a;c(3)",
3
],
[
"a(2)",
"b;c(3)",
3
],
[
"a(2)",
"NA(3)",
3
],
[
"a;b(2)",
"a(3)",
8
],
[
"a;b(2)",
"a;b(3)",
11
],
[
"a;b(2)",
"a;b;c(3)",
13
],
[
"a;b(2)",
"a;c(3)",
9
],
[
"a;b(2)",
"b(3)",
3
],
[
"a;b(2)",
"b;c(3)",
2
],
[
"a;b(2)",
"c(3)",
2
],
[
"a;b(2)",
"NA(3)",
16
],
[
"a;b;c(2)",
"a(3)",
8
],
[
"a;b;c(2)",
"a;b(3)",
7
],
[
"a;b;c(2)",
"a;b;c(3)",
13
],
[
"a;b;c(2)",
"a;c(3)",
4
],
[
"a;b;c(2)",
"b(3)",
9
],
[
"a;b;c(2)",
"b;c(3)",
6
],
[
"a;b;c(2)",
"c(3)",
3
],
[
"a;b;c(2)",
"NA(3)",
14
],
[
"a;c(2)",
"a(3)",
1
],
[
"a;c(2)",
"a;b(3)",
7
],
[
"a;c(2)",
"a;b;c(3)",
5
],
[
"a;c(2)",
"a;c(3)",
5
],
[
"a;c(2)",
"b(3)",
3
],
[
"a;c(2)",
"b;c(3)",
3
],
[
"a;c(2)",
"c(3)",
3
],
[
"a;c(2)",
"NA(3)",
10
],
[
"b(2)",
"a(3)",
1
],
[
"b(2)",
"a;b(3)",
2
],
[
"b(2)",
"a;b;c(3)",
5
],
[
"b(2)",
"a;c(3)",
1
],
[
"b(2)",
"b(3)",
2
],
[
"b(2)",
"b;c(3)",
2
],
[
"b(2)",
"c(3)",
1
],
[
"b(2)",
"NA(3)",
3
],
[
"b;c(2)",
"a(3)",
1
],
[
"b;c(2)",
"a;b(3)",
1
],
[
"b;c(2)",
"a;b;c(3)",
7
],
[
"b;c(2)",
"a;c(3)",
3
],
[
"b;c(2)",
"b(3)",
1
],
[
"b;c(2)",
"b;c(3)",
1
],
[
"b;c(2)",
"c(3)",
1
],
[
"b;c(2)",
"NA(3)",
8
],
[
"c(2)",
"a;b(3)",
4
],
[
"c(2)",
"a;b;c(3)",
5
],
[
"c(2)",
"a;c(3)",
1
],
[
"c(2)",
"b;c(3)",
1
],
[
"c(2)",
"NA(3)",
3
],
[
"NA(2)",
"NA(3)",
42
],
[
"a(3)",
"a(4)",
3
],
[
"a(3)",
"a;b(4)",
4
],
[
"a(3)",
"a;b;c(4)",
6
],
[
"a(3)",
"NA(4)",
12
],
[
"a;b(3)",
"a(4)",
3
],
[
"a;b(3)",
"a;b(4)",
2
],
[
"a;b(3)",
"a;b;c(4)",
4
],
[
"a;b(3)",
"a;c(4)",
3
],
[
"a;b(3)",
"b(4)",
1
],
[
"a;b(3)",
"b;c(4)",
3
],
[
"a;b(3)",
"c(4)",
1
],
[
"a;b(3)",
"NA(4)",
17
],
[
"a;b;c(3)",
"a(4)",
4
],
[
"a;b;c(3)",
"a;b(4)",
9
],
[
"a;b;c(3)",
"a;b;c(4)",
11
],
[
"a;b;c(3)",
"a;c(4)",
10
],
[
"a;b;c(3)",
"b(4)",
3
],
[
"a;b;c(3)",
"b;c(4)",
4
],
[
"a;b;c(3)",
"c(4)",
2
],
[
"a;b;c(3)",
"NA(4)",
16
],
[
"a;c(3)",
"a(4)",
1
],
[
"a;c(3)",
"a;b(4)",
1
],
[
"a;c(3)",
"a;b;c(4)",
10
],
[
"a;c(3)",
"a;c(4)",
5
],
[
"a;c(3)",
"b(4)",
2
],
[
"a;c(3)",
"b;c(4)",
1
],
[
"a;c(3)",
"NA(4)",
6
],
[
"b(3)",
"a(4)",
3
],
[
"b(3)",
"a;b(4)",
4
],
[
"b(3)",
"a;b;c(4)",
1
],
[
"b(3)",
"b(4)",
2
],
[
"b(3)",
"c(4)",
1
],
[
"b(3)",
"NA(4)",
7
],
[
"b;c(3)",
"a(4)",
3
],
[
"b;c(3)",
"a;b(4)",
2
],
[
"b;c(3)",
"a;b;c(4)",
5
],
[
"b;c(3)",
"b(4)",
2
],
[
"b;c(3)",
"b;c(4)",
1
],
[
"b;c(3)",
"NA(4)",
5
],
[
"c(3)",
"a;b;c(4)",
2
],
[
"c(3)",
"b(4)",
2
],
[
"c(3)",
"b;c(4)",
2
],
[
"c(3)",
"c(4)",
1
],
[
"c(3)",
"NA(4)",
3
],
[
"NA(3)",
"NA(4)",
99
],
[
"a(4)",
"a(5)",
1
],
[
"a(4)",
"a;b(5)",
1
],
[
"a(4)",
"a;b;c(5)",
5
],
[
"a(4)",
"a;c(5)",
1
],
[
"a(4)",
"b(5)",
1
],
[
"a(4)",
"b;c(5)",
1
],
[
"a(4)",
"NA(5)",
7
],
[
"a;b(4)",
"a(5)",
3
],
[
"a;b(4)",
"a;b(5)",
5
],
[
"a;b(4)",
"a;b;c(5)",
2
],
[
"a;b(4)",
"a;c(5)",
1
],
[
"a;b(4)",
"b(5)",
1
],
[
"a;b(4)",
"c(5)",
1
],
[
"a;b(4)",
"NA(5)",
9
],
[
"a;b;c(4)",
"a(5)",
2
],
[
"a;b;c(4)",
"a;b(5)",
1
],
[
"a;b;c(4)",
"a;b;c(5)",
4
],
[
"a;b;c(4)",
"a;c(5)",
3
],
[
"a;b;c(4)",
"b(5)",
6
],
[
"a;b;c(4)",
"b;c(5)",
1
],
[
"a;b;c(4)",
"c(5)",
2
],
[
"a;b;c(4)",
"NA(5)",
20
],
[
"a;c(4)",
"a(5)",
3
],
[
"a;c(4)",
"a;b;c(5)",
4
],
[
"a;c(4)",
"b;c(5)",
1
],
[
"a;c(4)",
"NA(5)",
10
],
[
"b(4)",
"a;b(5)",
2
],
[
"b(4)",
"a;b;c(5)",
2
],
[
"b(4)",
"a;c(5)",
1
],
[
"b(4)",
"NA(5)",
7
],
[
"b;c(4)",
"a(5)",
1
],
[
"b;c(4)",
"a;b(5)",
1
],
[
"b;c(4)",
"a;b;c(5)",
1
],
[
"b;c(4)",
"a;c(5)",
1
],
[
"b;c(4)",
"b;c(5)",
1
],
[
"b;c(4)",
"NA(5)",
6
],
[
"c(4)",
"b;c(5)",
1
],
[
"c(4)",
"NA(5)",
4
],
[
"NA(4)",
"NA(5)",
165
] 
];
data.addColumn('string','from');
data.addColumn('string','to');
data.addColumn('number','n');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartSankeyID40044388e420() {
var data = gvisDataSankeyID40044388e420();
var options = {};
options["width"] = 400;
options["height"] = 400;


    var chart = new google.visualization.Sankey(
    document.getElementById('SankeyID40044388e420')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "sankey";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartSankeyID40044388e420);
})();
function displayChartSankeyID40044388e420() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartSankeyID40044388e420"></script>
 
<!-- divChart -->
  
<div id="SankeyID40044388e420" 
  style="width: 400; height: 400;">
</div>